*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/vcs.xml
/.idea/deploymentTargetSelector.xml
/.idea/deployment.xml
/.idea/jarRepositories.xml
/.idea/javaCompiler.xml
/.idea/execution.xml
/.idea/kotlinc.xml
/.idea/profiles_settings.xml
/.idea/settings.jar
/.idea/*.iml
/.idea/misc.xml
*.o
*.a
*.so
*.dSYM/
*.su
*.dat
*.idb
*.ipa
*.dSYM.zip
*.app.zip
*.ipa.zip
*.xcarchive
*.xcworkspace
*.xcuserdata
*.xcscheme
.DS_Store
Thumbs.db
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
build/
captures/
output.json
.externalNativeBuild
.cxx
*.keystore
*.jks
*.signing.properties
*.google-services.json
*.fabric.properties
*.crashlytics.properties